
{{#if devoured}}
<li class="list-group-item text-muted bg-light">
   {{id}}. {{burger_name}}
 </li>
{{else}}
   <li class="list-group-item">
   <i class="fas fa-hamburger text-info"></i>
{{id}}. {{burger_name}}
   <div class="">
      <button class="devour-btn btn btn-outline-info btn-sm btn-block" data-id="{{this.id}}">Devour it!</button>
   </div>
   </li>
{{/if}}